.video-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #e2e2e2;
    margin-top: 170px;
    text-align: center;
    width: 100%;
}
.video-item{
    margin: 10px;
    width: 300px;
}
.video-desc{
    overflow: auto;
}